h1.logo {
    text-align : center;
    font-family: 'Lobster',cursive;
    font-size: 72px;
    margin-bottom: 20px;
}

.content {
    padding-top:100px;
}

footer {
    text-align: center;
    margin-bottom: 20px;
}