@(myForm: Form[models.Item], items : List[models.Item])

@main("トップページ") {
  <h1 class="logo">Halau</h1>
  <div class="input">
      <!-- 家計簿情報入力フォーム -->
      <form action="/addMoney" method="POST" >
          <table>
              <tr id="imput_field">
                  <!-- 分類 -->
                  <td class=" " id="kind_field">
                      <dt><label for="kind">kind</label></dt>
                      <dd>
                          <input type="text" id="kind" name="kind" value="" >
                      </dd>
                  </td>
                  <!-- 金額 -->
                  <td class=" " id="money_field">
                      <dt><label for="money">money</label></dt>
                      <dd>
                          <input type="text" id="money" name="money" value="0" >
                      </dd>
                  </td>
                  <!-- 場所 -->
                  <td class=" " id="location_field">
                      <dt><label for="location">location</label></dt>
                      <dd>
                          <input type="text" id="location" name="location" value="" >
                      </dd>
                  </td>
              </tr>
          </table>
          <button type="submit" class="btn">登録</button>
      </form>
  </div>
  <div class="history">
    <div class="day">
      <h2>2012/07/30(火)</h2>
      <ul>
      @items.map { item =>
        <li>[@item.kind]　&yen; @item.money at @item.location</li>
      }
      </ul>
    </div>
    <div class="day">
      <h2>2012/06/12(火)</h2>
      <ul>
        <li>[娯楽]Macbook Air &yen;96,000 at AppleStore</li>
        <li>[娯楽]iPad Wifi &yen;35,000 at AppleStore</li>
      </ul>
    </div>
    <div class="day">
      <h2>2012/06/11(月)</h2>
      <ul>
        <li>[仕事]新人歓迎会 &yen;4,000 at ビアガーデン</li>
        <li>[書籍]Scalaスケーラブルプログラミング &yen;4,000 at ジュンク堂</li>
      </ul>
    </div>
    <div class="day">
      <h2>2012/06/10(日)</h2>
      <ul>
        <li>[食事]お寿司 &yen;2,000 at すしざんまい</li>
      </ul>
    </div>
  </div>
}
